.contener{
    width: 1200px;
    margin: 0 auto;
}
header{
    background-color: aliceblue;
    height: 100px;
}
aside{
    background-color: antiquewhite;
    height: 700px;
    float: left;
    width: 40%;
}
section{
    background-color: aquamarine;
    height: 700px;
    float: right;
    width:60%;
}